# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# IDE
.vscode/
.idea/

# Dataset
test_data/
data/
*.zip
*.npy

# Generated outputs
outputs/
results/
results_test/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp